body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Nunito Sans'
}
nav{
    display: flex;
    justify-content: space-between;
}
nav > .links > ul > li{
    display: inline-block;
    padding: 20px;
}
span{
    color: #ec4067;
}
.button{
    padding: 10px 20px;
    background-color: #ec4067;
    border: 1px solid #ec4067;
    border-radius: 8px;
    color: white;
} 
nav > .name > h3{
    font-size: large;
    margin: 20px;
}
.section1{
    display: flex;
    margin: 50px;
}
.section1 > .left1 {
    margin-left: 20px;
    align-items: center;
}
.section1 > .photo1 img{
    margin-left: 40px;
    width: 500px;
    height: 500px;
}
.section1 > .left1 > .explore{
    padding: 10px 20px;
    border: 1px solid #ec4067;
    color: #ec4067;
}
.section2{
    display: flex;
    margin: 50px;
}
.section2 > .left2{
    margin-right: 40px;
}

.section2 > .left2> .photo2 > img{
    width: 600px;
    height: 400px;

}

.section2 > .right2 {
    width: 550px;
    align-items: center;
    margin-top: 50px;
}
.section3{
    display: flex;
    margin: 50px;
}

.section3 > .left3{
    margin: 30px;
}

.section3 > .photo3 > img{
    width: 550px;
    height: 350px;
}