body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Nunito',sans-serif;
    overflow-x: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav > .links > ul > li{
    display: inline-block;
    padding: 20px;
}
span{
    color: #ec4067;
}
.button{
    padding: 10px 20px;
    background-color: #ec4067;
    border: 1px solid #ec4067;
    border-radius: 8px;
    color: white;
} 
nav > .name > h3{
    font-size: large;
    margin: 20px;
}
#section1{
    display: flex;
    margin: 50px;
}
#section1 > .left1 {
    margin-left: 20px;
    justify-content: center;
}
#section1 > .photo1 img{
    margin-left: 40px;
    width: 500px;
    height: 500px;
}
#section1 > .left1 > .explore{
    padding: 10px 20px;
    border: 1px solid #ec4067;
    color: #ec4067;
}
#section2{
    display: flex;
    margin: 50px;
}
#section2 > .left2{
    margin-right: 60px;
}

#section2 > .left2 > .photo2 > img{
    width: 550px;
    height: 350px;

}

#section2 > .right2 {
    width: 550px;
    align-items: center;
    margin-top: 50px;
}
#section3{
    display: flex;
    margin: 50px;
}

#section3 > .left3{
    align-items: center;
    margin: 30px;
}

#section3 > .photo3 > img{
    width: 550px;
    height: 350px;
}

#section4{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
#section4 > .photo4 > img{
    width: 550px;
    height: 350px;
}
#section4 > .right4{
    width: 500px;
    text-align:start;
    margin-left: 30px;
}
.technical{
    font-size:x-large;
    margin:30px;

}

#section5 > .mentors{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:30px;

}
#section5 >.mentors > .rose{
    width: 20%;
}
#section5 >.mentors > .rose >.photo5 > img{
    width:100% ;
}
#section5 >.mentors > .albert{
    width: 20%;
}
#section5 >.mentors > .albert >.photo6 > img{
    width: 100%;
}
#section5 >.mentors > .katana{
    width: 20%;
}
#section5 >.mentors > .katana >.photo7 > img{
    width: 100%;
}
#section5 >.mentors > .karimi{
    width: 20%;
}
#section5 >.mentors > .karimi >.photo8 > img{
    width: 100%;
}

#section6 {
    display: flex;
    margin: 40px 0px ;
}
#section6 > .left6{
    margin-left: 30px;
    width: 40%;
}
#section6 > .photo9 > img{
    margin-right: 30px ;
    width: 550px;
    height: 350px;
}
.paragraph{
    color: #ec4067;
    font-size: larger;
    font-weight: 600;
}
.big{
    color:#ec4067
}
.still{
    margin: 30px;
}
.designedBy{
    text-align: center;
    margin: 30px;
    border: 1px solid rgb(177, 175, 175);
    padding: 20px;
    background-color: rgb(172, 168, 168);
}


    