body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Nunito Sans'
}
nav{
    display: flex;
    justify-content: space-between;
}
nav > .links > ul > li{
    display: inline-block;
    padding: 20px;
}
span{
    color: #ec4067;
}
.button{
    padding: 10px 20px;
    background-color: #ec4067;
    border: 1px solid #ec4067;
    border-radius: 8px;
    color: white;
} 
nav > .name > h3{
    font-size: large;
    margin: 20px;
}
.section1{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.section1 > .left {
    margin-left: 20px;
    align-items: center;
}
.section1 > .photo1 img{
    margin-left: 40px;
    width: 500px;
    height: 500px;
}
.section1 > .left > .explore{
    padding: 10px 20px;
    border: 1px solid;
}
.section2{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.section2 > .photo2 > img{
    width: 500px;
    height: 500ox;

}
.section2 > .photo2 > .right{
    width: 400px;
    align-items: center;
}